.footer {
  margin: 0 auto;
  padding: 60px 20px;
}

.footer__copyright {
  margin: 0;
  text-align: center;
  color: #212121;
  opacity: 70%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
