.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  padding: 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__container-delete {
  padding: 32px 20px;
}

.modal__title {
  font-weight: 500;
  margin: 0 0 32px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px #21212166 solid;
}

.modal__avatar-input {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 1;
  margin: 8px 0 32px;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px #21212166 solid;
}

.modal__input:hover {
  border: 1px #212121 solid;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__error {
  display: block;
  margin-top: 8px;
  font: "Poppins";
  line-height: 18px;
  font-weight: 500;
  font-size: 16px;
  color: #ff0000b2;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/close.svg);
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 40%;
  cursor: pointer;
  padding: 0px;
}

.modal__delete-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.modal__delete-close-btn {
  background-image: url(../images/delete-modal.svg);
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0px;
  position: absolute;
  top: -5px;
  right: -60px;
}

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/close-preview.svg);
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__btn {
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  font-size: 16px;
  cursor: pointer;
}

.modal__delete-title {
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal__delete-btn {
  background-color: #ff6565;
  color: black;
  border-radius: 8px;
  border: none;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  font-size: 16px;
  cursor: pointer;
}

.modal__cancel-btn {
  background-color: white;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  max-width: 156px;
  width: 100%;
  padding: 18px 32px;
  font-size: 16px;
  cursor: pointer;
}

.modal__delete-btn:hover {
  background-color: #ff3333;
}

.modal__cancel-btn:hover {
  background-color: black;
  color: white;
}

.modal__btn:hover {
  opacity: 80%;
}

.modal__save-btn_error {
  opacity: 50%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  font-weight: 500;
  font-size: 20px;
  color: white;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 8px 0px;
  max-width: fit-content;
  text-align: center;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__caption {
    font-size: 16px;
    font-weight: 500;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .profile__avatar-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .modal__container-delete {
    padding: 22px 12px 12px;
  }

  .modal__delete-close-btn {
    top: -50px;
    right: -5px;
  }

  .modal__delete-form {
    flex-direction: column;
    align-items: center;
  }

  .modal__close-btn_type_preview {
    top: -44px;
    right: 0px;
  }

  .modal__title {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__btn {
    max-width: none;
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .modal__image {
    max-width: 288px;
  }
}
